In [54]:
import pandas as pd
from scipy.stats import t
import numpy as np

# Лабораторная работа №4
## Задание 3
## Кондрашин Тимофей 211-365 Вариант 37 (04.05.2023)

## Задача и данные

По данным двух выборок нормального закона распределения (первая – с дисперсией $S_1^2$, вторая – с дисперсией $S_2^2$ проверить гипотезу о равенстве средних значений при уровне значимости α (при конкурирующей гипотезе об их неравенстве).

В ответе привести:
1) выборочное среднее для первой выборки;
2) выборочное среднее для второй выборки;
3) вычисленное значение критерия;
4) критическое значение;
5) вывод о принятии или не принятии гипотезы

In [55]:
x = pd.DataFrame({'X': [124.1, 82.5, 69.0, 85.4, 32.4, 77.7, 78.2, 96.6, 39.6, 34.2, 67.8, 35.1, 30.9, 69.6, 101.0,
                        61.6, 115.1, 39.2, 66.6, 92.3, 53.0, 95.3, 55.5, 92.2, 66.1, 57.2, 29.5, 68.2, 40.5, 54.0, 40.4,
                        72.0, 69.2, 35.2, 98.5, 26.9, 47.0, 106.4, 50.2, 46.2, 88.4, 56.6, 45.4, 69.3, 63.5, 42.6, 66.0,
                        80.1, 66.4, 92.0, 60.9, 75.7, 109.2, 47.1, 64.5, 93.3, 49.4, 65.9, 98.7, 46.2, 24.2, 50.5, 92.4,
                        75.1, 112.0, 14.6, 41.0, 59.5, 59.7, 44.9, 108.7, 68.8, 49.9, 44.4, 48.2, 48.3, 87.9, 59.5,
                        67.8, 62.7, 61.5, 40.7, 68.1, 65.1, 59.6, 77.3, 77.0, 74.0, 99.4, 67.2, 76.9, 99.9, 29.0, 18.3,
                        56.5, 81.8, 28.3, 66.7, 63.1]})
y = pd.DataFrame({'Y': [65.3, 67.8, 91.3, 87.9, 58.2, 124.8, 37.1, 86.1, 53.6, 59.4, 94.4, 79.7, 73.1, 18.5, 54.7,
                        107.0, 78.0, 70.2, 99.7, 117.4, 97.0, 82.8, 68.3, 98.3, 42.1, 76.9, 71.2, 54.4, 98.5, 103.8,
                        119.6, 47.1, 91.8, 99.1, 90.8, 36.4, 64.3, 72.6, 81.1, 120.5, 79.2, 99.4, 96.3, 77.4, 148.4,
                        85.6, 92.8, 104.3, 61.4, 83.5, 43.1, 97.0, 111.4, 169.8, 88.1, 52.0, 138.4, 49.9, 79.3, 45.2,
                        18.6, 108.2, 142.9, 22.3, 79.0, 39.9, 146.6, 76.9, 65.4, 125.8, 27.0, 54.4, 43.7, 88.0, 54.7,
                        115.8, 66.1, 78.8, 76.6, 55.8, 61.8, 47.1, 80.3, 90.9, 52.5, 16.2, 35.0, 89.4, 30.5, 87.0, 94.1,
                        73.6, 99.2, 66.9, 62.3, 85.8, 64.6, 96.4, 22.0]})
n_x = len(x)
n_y = len(y)
a = 0.1

print(f'Уровень значимости: {a}')

Уровень значимости: 0.1

### Количество элементов в выборках:

In [56]:
print(f'Количество элементов в первой выборке: {n_x}')

Количество элементов в первой выборке: 99

In [57]:
print(f'Количество элементов во второй выборке: {n_y}')

Количество элементов во второй выборке: 99

### Выборки:

#### Первая выборка:

In [58]:
x.T

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
X,124.1,82.5,69.0,85.4,32.4,77.7,78.2,96.6,39.6,34.2,...,67.2,76.9,99.9,29.0,18.3,56.5,81.8,28.3,66.7,63.1

#### Вторая выборка:

In [59]:
y.T

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
Y,65.3,67.8,91.3,87.9,58.2,124.8,37.1,86.1,53.6,59.4,...,87.0,94.1,73.6,99.2,66.9,62.3,85.8,64.6,96.4,22.0

## Проверка гипотезы о равенстве генеральных средних

$$
H_0: \mu_x = \mu_y \\
H_1: \mu_x \neq \mu_y
$$

### Вычисление выборочных средних:

$$
\overline{x} = \frac{1}{n_x} \sum_{i = 1}^{n_x} x_i, \quad \overline{y} = \frac{1}{n_y} \sum_{i = 1}^{n_y} y_i
$$

In [60]:
x_mean = x.mean()[0]
print(f'Выборочное среднее первой выборки: {x_mean}')

Выборочное среднее первой выборки: 64.78888888888889

In [61]:
y_mean = y.mean()[0]
print(f'Выборочное среднее второй выборки: {y_mean}')

Выборочное среднее второй выборки: 77.63030303030303

### Вычисление дисперсий выборок:

$$
s^2_x = \frac{1}{n_x - 1} \sum_{i = 1}^{n_x} (x_i - \overline{x})^2, \quad s^2_y = \frac{1}{n_y - 1} \sum_{i = 1}^{n_y} (y_i - \overline{y})^2
$$

In [62]:
x_var = x.var()[0]
print(f'Дисперсия первой выборки: {x_var}')

Дисперсия первой выборки: 557.3467120181406

In [63]:
y_var = y.var()[0]
print(f'Дисперсия второй выборки: {y_var}')

Дисперсия второй выборки: 928.972745825603

### Вычисление общей дисперсии:

$$
s^2 = \frac{(n_x - 1) \sigma^2_x + (n_y - 1) \sigma^2_y}{n_x + n_y - 2}
$$

In [64]:
s = ((n_x - 1) * x_var + (n_y - 1) * y_var) / (n_x + n_y - 2)
print(f'Общая дисперсия: {s}')

Общая дисперсия: 743.1597289218718

### Вычисление t-критерия Стьюдента:

$$
t = \frac{\overline{x} - \overline{y}}{S \sqrt{\frac{1}{n_x} + \frac{1}{n_y}}}
$$

In [65]:
t_r = (x_mean - y_mean) / (np.sqrt(s) * np.sqrt(1 / n_x + 1 / n_y))
print(f'Вычисленное значение критерия: {t_r}')

Вычисленное значение критерия: -3.3141668429483055

### Вычисление табличного t-криетрия Стьюдента:

$$
t_{табл} = t_{1 - \frac{\alpha}{2}, n_x + n_y - 2}
$$

In [66]:
t_t = t.ppf(1 - a / 2, n_x + n_y - 2)
print(f'Табличное значение критерия: {t_t}')

Табличное значение критерия: 1.6526650592326857

## Вывод о принятии или не принятии гипотезы

In [67]:
if abs(t_r) < t_t:
    print('Гипотеза о равенстве дисперсий принимается (H0)')
else:
    print('Гипотеза о равенстве дисперсий отвергается (H0), принимается альтернативная гипотеза (H1)')

Гипотеза о равенстве дисперсий отвергается (H0), принимается альтернативная гипотеза (H1)