In [14]:
import pandas as pd
from scipy.stats import t

# Лабораторная работа №4
## Задание 2
## Кондрашин Тимофей 211-365 Вариант 37 (04.05.2023)

## Задача и данные

По данным двух выборок нормального закона распределения проверить гипотезу о равенстве генеральных средних (при конкурирующей гипотезе об их неравенстве) при уровне значимости α = 0,1.

В ответе привести:
1) выборочное среднее для первой выборки;
2) выборочное среднее для второй выборки;
3) вычисленное значение критерия;
4) табличное значение;
5) вывод о принятии или не принятии гипотезы.

In [27]:
x = pd.DataFrame({'X': [80.5, 105.8, 72.5, 36.5, 6.0, 88.7, 48.7, 59.0, 70.7, 106.4, 26.7, 34.9]})
y = pd.DataFrame({'Y': [100.6, 19.3, 56.7, 53.7, 28.6, 38.4, 43.6, 52.2, 64.6, 45.6, 26.1, 79.7, 67.9, 30.8, 26.8, 24.8, 48.4]})
n_x = len(x)
n_y = len(y)
a = 0.1

print(f'Уровень значимости: {a}')

Уровень значимости: 0.1

### Количество элементов в выборках:

In [28]:
print(f'Количество элементов в первой выборке: {n_x}')

Количество элементов в первой выборке: 12

In [29]:
print(f'Количество элементов во второй выборке: {n_y}')

Количество элементов во второй выборке: 17

### Выборки:

#### Первая выборка:

In [30]:
x.T

     0      1     2     3    4     5     6     7     8      9     10    11
X  80.5  105.8  72.5  36.5  6.0  88.7  48.7  59.0  70.7  106.4  26.7  34.9

#### Вторая выборка:

In [31]:
y.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Y,100.6,19.3,56.7,53.7,28.6,38.4,43.6,52.2,64.6,45.6,26.1,79.7,67.9,30.8,26.8,24.8,48.4

## Проверка гипотезы о равенстве генеральных средних

$$
H_0: \mu_x = \mu_y \\
H_1: \mu_x \neq \mu_y
$$

### Вычисление выборочных средних:

$$
\overline{x} = \frac{1}{n_x} \sum_{i = 1}^{n_x} x_i, \quad \overline{y} = \frac{1}{n_y} \sum_{i = 1}^{n_y} y_i
$$

In [32]:
x_mean = x.mean()[0]
print(f'Выборочное среднее первой выборки: {x_mean}')

Выборочное среднее первой выборки: 61.366666666666674

In [33]:
y_mean = y.mean()[0]
print(f'Выборочное среднее второй выборки: {y_mean}')

Выборочное среднее второй выборки: 47.517647058823535

### Вычисление дисперсий выборок:

$$
\sigma^2_x = \frac{1}{n_x} \sum_{i = 1}^{n_x} (x_i - \overline{x})^2 \\
$$

In [34]:
x_var = x.var()[0]
print(f'Дисперсия первой выборки: {x_var}')

Дисперсия первой выборки: 1007.1551515151515

In [35]:
y_var = y.var()[0]
print(f'Дисперсия второй выборки: {y_var}')

Дисперсия второй выборки: 477.85654411764705

### Вычисление t-критерия Стьюдента:

$$
t = \frac{\overline{x} - \overline{y}}{\sqrt{\frac{\sigma^2_x}{n_x} + \frac{\sigma^2_y}{n_y}}}
$$

In [36]:
t_r = (x_mean - y_mean) / (x_var / n_x + y_var / n_y) ** 0.5
print(f'Вычисленное значение критерия: {t_r}')

Вычисленное значение критерия: 1.308382712578035

### Вычисление табличного t-криетрия Стьюдента:

$$
t_{табл} = t_{1 - \frac{\alpha}{2}, n_x + n_y - 2}
$$

In [37]:
t_t = t.ppf(1 - a / 2, n_x + n_y - 2)
print(f'Табличное значение критерия: {t_t}')

Табличное значение критерия: 1.7032884457221265

## Вывод о принятии или не принятии гипотезы

In [38]:
if abs(t_r) < t_t:
    print('Гипотеза о равенстве дисперсий принимается (H0)')
else:
    print('Гипотеза о равенстве дисперсий отвергается (H0), принимается альтернативная гипотеза (H1)')

Гипотеза о равенстве дисперсий принимается (H0)