In [159]:
import pandas as pd
import glob


# write function that takes all csv file in directory and returns a list of dataframes
def read_csv_files(path):
    csv_files = glob.glob(path + "/*.csv")
    return csv_files

In [160]:
# call function and pass in directory
df_list = read_csv_files("/Users/cosmdandy/GitHub/Experiments/Statistics Polytech/LB1_Test")
df_list

['/Users/cosmdandy/GitHub/Experiments/Statistics Polytech/LB1_Test/Кондрашин_ЛБ1_Задание_2.csv',
 '/Users/cosmdandy/GitHub/Experiments/Statistics Polytech/LB1_Test/Кондрашин_ЛБ1_Задание_1.csv']

In [161]:
# write that combine twoo csv files into one dataframe
def combine_csv_files(path):
    csv_files = glob.glob(path + "/*.csv")
    df_list = []
    for filename in csv_files:
        df = pd.read_csv(filename, index_col=None, header=0)
        df_list.append(df)
    return pd.concat(df_list, axis=0, ignore_index=True)

In [162]:
df_list = combine_csv_files("/Users/cosmdandy/GitHub/Experiments/Statistics Polytech/LB1_Test")
df_list

,Unnamed: 0,Фамилия Имя,Номер лабораторной работы,Номер задания лабораторной работы,Вариант лабораторной работы,Вариационный ряд,Варианты,Частота,Относительная частота,Эмпирическая функция распределения,Выборочное среднее,Выборочная дисперсия,Среднеквадратическое отклонение,Коэффицент вариации
0,0,Кондрашин Тимофей,1,2,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6]","[13, 11, 43, 37, 22, 14, 10]","[0.08666666666666667, 0.07333333333333333, 0.2...","[0.0, 0.08666666666666667, 0.16, 0.44666666666...",2.84,2.4544,1.566652,55.16382
1,0,Кондрашин Тимофей,1,1,1,"[250, 250, 250, 255, 260, 270, 270, 288, 300, ...","[250, 255, 260, 270, 288, 300, 305, 306, 320]","[3, 1, 1, 2, 1, 3, 1, 1, 2]","[0.2, 0.06666666666666667, 0.06666666666666667...","[0.0, 0.2, 0.26666666666666666, 0.333333333333...",NaN,NaN,NaN,NaN

In [185]:
x = pd.read_json('input/Данные к заданию №3.json')
x['Данные'][0]

[2.0,
 4.8,
 5.2,
 3.8,
 3.5,
 3.2,
 3.2,
 3.9,
 4.9,
 2.8,
 3.7,
 1.8,
 3.4,
 2.3,
 3.2,
 4.5,
 0.5,
 3.3,
 2.8,
 2.5,
 1.4,
 3.2,
 3.5,
 2.2,
 2.3,
 3.5,
 3.5,
 4.1,
 4.4,
 2.3,
 1.9000000000000001,
 2.2,
 3.8,
 3.4,
 2.2,
 3.1,
 2.1,
 2.1,
 3.2,
 2.5,
 2.1,
 2.9,
 2.8,
 3.1,
 4.3,
 2.8,
 4.0,
 2.3,
 2.7,
 2.4,
 2.4,
 2.3,
 2.4,
 2.9,
 2.2,
 3.6,
 2.1,
 3.2,
 2.3,
 2.9,
 2.0,
 4.7,
 3.5,
 2.8,
 3.0,
 -0.2,
 3.6,
 3.1,
 3.3,
 1.4,
 2.6,
 2.6,
 1.8,
 4.3,
 1.8,
 0.7000000000000001,
 4.6,
 3.0,
 1.9000000000000001,
 3.7,
 3.2,
 2.6,
 2.6,
 4.2,
 2.9,
 2.3,
 5.4,
 3.3,
 3.1,
 2.8,
 2.7,
 2.7,
 1.8,
 2.8,
 4.6,
 2.7,
 1.4,
 3.9,
 3.7,
 2.5]